@using BackendlessAPI

@{
    BackendlessUser user = Backendless.UserService.CurrentUser;
}


@if (user != null)
{

    @Html.AntiForgeryToken()
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Przegląd", "Overview", "Application")</li>
        <li>@Html.ActionLink("Dodaj Zadanie", "TaskAdd", "Application")</li>
    </ul>
}


