@{
    ViewBag.Title = "Index";
}

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<hr />

<div class="jumbotron" style="background-image: url(http://smsc.com.pk/wp-content/uploads/2014/07/sales-and-account-managment1.png); background-size: 100% 100%;">
    <h2>Wirtualne Zarządzanie Projektem</h2>
    <p class="lead">Nie zwlekaj, wypróbuj już teraz!</p>
    <p><a href="~/Account/Register" class="btn btn-primary btn-lg">Zarejestruj się &raquo;</a></p>
</div>